<div class="flex-container">
  <div class="container form-group">
    <div class="row">
      <label class="">User</label>
      <input nbInput type="text" status="primary" fieldSize="small" placeholder="Enter User">
    </div>
    <div class="row">
      <label for="">Password</label>
      <input nbInput type="password" status="primary" fieldZise="small" placeholder="Enter Password">
    </div>
    <div class="row col-md-2">
      <button status="primary" nbButton>LogIn</button>
    </div>
    <div class="col-md-6"> <img src="assets/imgs/Gamachicaslogoconnumero.jpg" width="100%" alt="">
    </div>
  </div>
</div>
