<div class="flex-container">
  <div>
    <h1>Register new User</h1>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <article class="col-md-6">
          <p>texto centrado</p>
          <button class="btn btn-primary">Enviar</button>
        </article>
        <section class="col-md-2"> Contenio seccion</section>
        <p class="col-md-4"> derivado fjdflkasjdflkasdjflkadjsflkasjflkasjf
          fakjsldjfalksjflsajfalsjflkadsjflaksjflkasdjf </p>
      </div>
    </div>
    <div class="container">
      modulo
    </div>
  </div>

</div>
