.flex-container {
  display: flex;
  flex-direction: column;


}

.flex-container div {
  padding: 10px;

}


.buttoncontrol {
  display: flex;
  flex-direction: row;

}

.buttoncontrol div {
  padding: 10px;

}
