<h1>User/Register</h1>
<hr>
<form novalidate [formGroup]="form">
  <div class="flex-container">
    <div class="form-group">
      <label for="name">Name *</label>
      <input type="text" nbInput status="primary" placeholder="Name" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name *</label>
      <input type="text" nbInput status="primary" placeholder="Last Name" class="form-control"
        formControlName="lastName">
    </div>

    <div class="form-group">
      <label for="secondLastName">Second Last Name *</label>
      <input fullWidth fieldSize="medium" type="text" nbInput status="primary" placeholder="Second Last Name"
        class="form-control">
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" nbInput status="primary" placeholder="Age" class="form-control">
    </div>
    <div class="form-group col-2">
      <label for="sex">Sex *</label>

      <mat-form-field aria-label="Default" appearance="fill">
        <mat-label>Caracter</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>
  </div>
  <div class="buttoncontrol">
    <div>
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-lg">Clear</button>
    </div>
  </div>
</form>
