.home-container {
  display: flex;
  border-color: brown;
  border: solid 1px;
  flex-wrap: wrap;

}

.home-container .sub-container {
  border-color: #5900ff;
  border: solid 1px;
  // padding: 12vh;
  background-color: crimson;
  ;

}

.bg-white {
  background-color: transparent !important;
}

.bg-light {
  background-color: transparent !important;

}

.responsive {
  width: 100%;
  height: auto;
}

.btn-oferta {
  background-color: rgb(155, 52, 52);
  color: #ffffff;
  border-radius: 2%;
  border-color: transparent;
  font-size: x-small;

}

.main-product {
  font-weight: bold;
  text-align: center;
  font-family: "Times New Roman",
    Times,
    serif;

}

.detail-product {
  text-align: center;
  font-family: "Times New Roman",
    Times,
    serif;


}

.cost-product {
  text-align: center;
  font-family: "Times New Roman",
    Times,
    serif;

  font-size: 20px;
}

.detail {
  padding-top: 0.5vw;
}

.decoration-Ofert {
  word-spacing: 10px;
  color: rgb(150, 145, 150);
  text-decoration: line-through;
}

.decoration-normal {
  color: rgb(155, 48, 48);
}
